html {
    height: 100%;
}

body {
    background-color: black;
    height: 100%
}

h1, p {
    user-select: auto;
}

#lobby {
    height: 90%;
    width: 65%;
    margin: 20px 0 0 50px
}

@media (max-width: 1600px) {
    #lobby {
        width: 80%;
    }
}

@media (max-width: 1000px) {
    #lobby {
        margin-left: 0;
        width: 100%;
    }
}

.lobby-container {
    display: flex;
    height: 90%
}

#title {
    padding-left: 10px;
    border: 2px solid grey;
    width: 70%
}

#title p {
    padding: 5px;
    font-size: 20px;
    color: #9974ff;
}

#left {
    position: relative;
    width: 70%;
    height: 90%;
}

#players {
    border: 2px solid grey;
    border-top: none;
    height: 100%;
}

.player {
    display: flex;
    position: relative;
    border: 2px solid #161616;
    background-color: #070606;
    margin: 10px 10px 0 10px;
}

.player#client {
    background-color: #181818
}

.player#client .faction {
    cursor: pointer;
}

.player p {
    padding: 10px;
    font-family: monospace;
}

.faction {
    display: flex;
    position: absolute;
    right: 0;
    background-color: #0a0a0a;
    text-align: left;
    font-family: monospace;
    width: fit-content;
    height: 100%;
}

.input {
    margin: 0;
    border: none;
    min-width: 153px !important;
    height: 100%;
    font-family: monospace;
}

.player-colour {
    background-color: #0e4d0e;
    width: 70px;
}

#right {
    position: relative;
    height: 90%;
    border: 2px solid grey;
    margin-left: 2%;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.settings {
    margin-top: 10px;
    border: 2px solid grey;
    border-radius: 15px;
    width: 90%;
    height: 85%
}

.settings h1 {
    text-align: center;
    font-size: 30px;
}

.lobby-button {
    border-radius: 15px;
    border: 2px solid grey;
    padding: 10px
}

.lobby-button p {
    font-size: 20px;
}

#start {
    position: absolute;
    bottom: 12px;
    right: 12px;
}

#leave {
    position: absolute;
    bottom: 12px;
    left: 12px;
    transition: 400ms;
}

#leave:hover {
    cursor: pointer;
    background-color: #6d0101;
    transition: 300ms;
}